<!DOCTYPE html>
<html style="height: 100%">

<% include ./partials/head %>

<body style="height: 100%; margin: 0">
  <% include ./partials/nav %>

  <div class="container">
    <div class="row">
      <% data.forEach(element => { %>
      <div class="col-xs-6 col-md-4" align="center">
        <div class="card" style="width: 18rem; margin: 1%;">
          <div class="card-body">
            <h5 class="card-title">Sensor <%= element.sensorId %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Temperature Summary</h6>
            <p class="card-text">Avg: <%= Math.round(element.avg) %></p>
            <p class="card-text">Max: <%= element.max %></p>
            <p class="card-text">Min: <%= element.min %></p>
            <a href="/sensor/<%=element.sensorId%>" class="card-link">View Details</a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <% include ./partials/scripts %>
</body>

</html>