<!DOCTYPE html>
<html style="height: 100%">

<% include ./partials/head %>

<body style="height: 100%; margin: 0">
    <% include ./partials/nav %>

    <div class="container">
        <div id="login">
            <h3 class="text-center text-white pt-5">Register form</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="/auth/register" method="post">
                                <h3 class="text-center text-info">Register</h3>
                                <span class="text-info"><%=err%></span>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="text" name="password" id="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Comfirm Password:</label><br>
                                    <input type="text" name="comfirm" id="comfirm" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/scripts %>
</body>

</html>