<!DOCTYPE html>
<html style="height: 100%">

<% include ./partials/head %>

<body style="height: 100%; margin: 0">
  <% include ./partials/nav %>
    <div id="container" style="height: 80%"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;

        setTimeout(async function() {
            var respsonse = await fetch('/sensor/record/<%=id%>')
            if (!respsonse.ok) {
                return;
            }

            var data = await respsonse.json();

            console.log(data)

            option = {
                tooltip: {
                    trigger: 'axis',
                    position: function(pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: `Sensor <%=id%>`,
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            title: {
                                zoom: "Zoom",
                                back: "Back"
                            },
                            yAxisIndex: 'none'
                        },
                        restore: { title: 'Restore' },
                        saveAsImage: { title: 'Save As picture' }
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.product
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [{
                    type: 'inside',
                    start: 0,
                    end: 10
                }, {
                    start: 0,
                    end: 10,
                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                    handleSize: '80%',
                    handleStyle: {
                        color: '#fff',
                        shadowBlur: 3,
                        shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2,
                        shadowOffsetY: 2
                    }
                }],
                series: [
                    {
                        name: 'Temperature',
                        type: 'line',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgb(0, 88, 216)'
                            }, {
                                offset: 1,
                                color: 'rgb(50, 38, 215)'
                            }])
                        },
                        data: data.values
                    }
                ]
            };

            myChart.setOption(option);

        });;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
    <% include ./partials/scripts %>
</body>

</html>